#Creating Pandas Series

In [ ]:
import pandas as pd

In [ ]:
#1d array that can hold any datatype
#you can assign an index label to any element in the array
#index  value
groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples','milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [ ]:
#pandas has attributes to know information from
#.shape gives dimension of the data
groceries.shape

(4,)

In [ ]:
#.ndim gives the number of dimensions of the data (rank)
groceries.ndim

1

In [ ]:
#.size gives the total number of values in the array
groceries.size

4

In [ ]:
#can print the index label and the values separately
#.index gives the labels of the array
groceries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [ ]:
#.values gives the values of the label
groceries.values

array([30, 6, 'Yes', 'No'], dtype=object)

In [ ]:
#you can check if the index label exists or not
'banana' in groceries

False

In [ ]:
'bread' in groceries

True

#Accessing and Deleting Elements

In [ ]:
import pandas as pd

In [ ]:
groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples','milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [ ]:
#Accessing values using index label
groceries['eggs']

30

In [ ]:
#Accessing several values using several index labels at the same time
groceries[['milk', 'bread']]

milk     Yes
bread     No
dtype: object

In [ ]:
#Accessing using index numerical values
groceries[0]

30

In [ ]:
groceries[-1]

'No'

In [ ]:
groceries[[0, 1]]

eggs      30
apples     6
dtype: object

In [ ]:
#To remove ambiguity from whether using index label or numerical label
#.loc states that we are mentioning index label
groceries.loc[['eggs', 'apples']]

eggs      30
apples     6
dtype: object

In [ ]:
#.iloc states that we are mentioning numeric index
groceries.iloc[[2, 3]]

milk     Yes
bread     No
dtype: object

In [ ]:
#Pandas arrays in mutable
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [ ]:
groceries['eggs'] = 2
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [ ]:
#Deleting values from pandas arrays
#It just deletes out of place, doesn't change the original array
groceries.drop('apples')

eggs       2
milk     Yes
bread     No
dtype: object

In [ ]:
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [ ]:
#To change in place, add inplace=True
groceries.drop('apples', inplace=True)

In [ ]:
groceries

eggs       2
milk     Yes
bread     No
dtype: object

#Arithmetic Operations

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Element-wise arithmetic operations
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [ ]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [ ]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [ ]:
fruits * 2

apples     20
oranges    12
bananas     6
dtype: int64

In [ ]:
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [ ]:
#Can apply numpy mathematical operations
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [ ]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [ ]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [ ]:
#Do arithmetic operations on selected elements in a series
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [ ]:
fruits['bananas'] + 2

5

In [ ]:
fruits.iloc[0] - 2

8

In [ ]:
fruits[['apples', 'oranges']] * 2

apples     20
oranges    12
dtype: int64

In [ ]:
fruits.loc[['apples', 'oranges']] / 2

apples     5.0
oranges    3.0
dtype: float64

In [ ]:
#Do arithmetic operations on series of mixed datatypes
#Arithmetic operations is defined for all datatypes in the series
groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [ ]:
groceries * 2

eggs          60
apples        12
milk      YesYes
bread       NoNo
dtype: object

In [ ]:
#When applying arithmetic operations that only work on numeric value, 
#an error will appear
groceries + 2

TypeError: ignored

##Practice

In [ ]:
import pandas as pd

# DO NOT CHANGE THE VARIABLE NAMES

# Given a list representing a few planets
planets = ['Earth', 'Saturn', 'Venus', 'Mars', 'Jupiter']

# Given another list representing the distance of each of these planets from the Sun
# The distance from the Sun is in units of 10^6 km
distance_from_sun = [149.6, 1433.5, 108.2, 227.9, 778.6]


# TO DO: Create a Pandas Series "dist_planets" using the lists above, representing the distance of the planet from the Sun.
# Use the `distance_from_sun` as your data, and `planets` as your index.
dist_planets = pd.Series(distance_from_sun, planets)


# TO DO: Calculate the time (minutes) it takes light from the Sun to reach each planet. 
# You can do this by dividing each planet's distance from the Sun by the speed of light.
# Use the speed of light, c = 18, since light travels 18 x 10^6 km/minute.
time_light = dist_planets / 18


# TO DO: Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
# We'll check your work by printing out these close planets.
close_planets = time_light[time_light < 40]

#Creating Pandas DataFrames

In [ ]:
import pandas as pd

In [ ]:
#Pandas DataFrames are two-dimensional data structures with labeled 
#rows and columns, that can hold many data types
#You can create dataframe manually or using data from file

#Create a dictionary of pandas Series
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

print(type(items))

<class 'dict'>

In [ ]:
#NaN stands for not a value, showing that there was no value given 
#in a particular case
shopping_carts = pd.DataFrame(items)
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [ ]:
data = {'Bob' : pd.Series(data = [245, 25, 55],),
         'Alice' : pd.Series(data = [40, 110, 500, 45],)}

df = pd.DataFrame(data)
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [ ]:
#Extracting data from dataframe
shopping_carts.index

Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [ ]:
shopping_carts.columns

Index(['Bob', 'Alice'], dtype='object')

In [ ]:
shopping_carts.values

array([[245., 500.],
       [ nan,  40.],
       [ nan, 110.],
       [ 25.,  45.],
       [ 55.,  nan]])

In [ ]:
shopping_carts.shape

(5, 2)

In [ ]:
shopping_carts.ndim

2

In [ ]:
shopping_carts.size

10

In [ ]:
#Extracting subset from dataframe
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [ ]:
sel_shopping_cart = pd.DataFrame(items, index=['pants', 'book'])
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [ ]:
alice_sel_shopping_cart = pd.DataFrame(items, index=['glasses', 'bike'], columns=['Alice'])
alice_sel_shopping_cart

         Alice
glasses    110
bike       500

In [ ]:
#Create dataframe from a dictionary of lists or arrays
#All the lists must be of the same length
data = {'Integers': [1, 2, 3],
        'Float': [4.5, 8.2, 9.6]}

df = pd.DataFrame(data)
df

   Integers  Float
0         1    4.5
1         2    8.2
2         3    9.6

In [ ]:
#Can add labels later using index in dataframe function
df = pd.DataFrame(data, index=['Label 1', 'Label 2', 'Label 3'])
df

         Integers  Float
Label 1         1    4.5
Label 2         2    8.2
Label 3         3    9.6

In [ ]:
#Create dataframe from list of python dictionaries
items = [{'bikes': 20, 'pasta': 30, 'watches': 35},
         {'watches': 10, 'glasses': 50, 'bikes': 15, 'pasta': 5}]

store_items = pd.DataFrame(items)
store_items

   bikes  pasta  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [ ]:
store_items = pd.DataFrame(items, index=['Store 1', 'Store 2'])
store_items

         bikes  pasta  watches  glasses
Store 1     20     30       35      NaN
Store 2     15      5       10     50.0

#Accessing Elements in Pandas DataFrame

In [1]:
import pandas as pd

In [12]:
#Can access row, column and individual values
items = [{'bikes': 20, 'pants': 30, 'watches': 35},
         {'watches': 10, 'glasses': 50, 'bikes':15, 'pants': 5}]

store_items = pd.DataFrame(items, index=['store 1', 'store 2'])
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [13]:
#Accessing certain column
store_items[['bikes']]

         bikes
store 1     20
store 2     15

In [15]:
#Accessing multiple columns
store_items[['bikes', 'pants']]

         bikes  pants
store 1     20     30
store 2     15      5

In [16]:
#Accessing certain row
store_items.loc[['store 1']]

         bikes  pants  watches  glasses
store 1     20     30       35      NaN

In [17]:
#Accessing a certain element
#[column][row]
store_items['bikes']['store 2']

15

In [18]:
#Add column
store_items['shirts'] = [15, 2]
store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN      15
store 2     15      5       10     50.0       2

In [19]:
#Add column using arithmetic operation
store_items['suits'] = store_items['shirts'] + store_items['pants']
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN      15     45
store 2     15      5       10     50.0       2      7

In [21]:
#Add row
#Must create a dataframe of the new row then append it to the dataframe
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

new_store = pd.DataFrame(new_items, index=['store 3'])
new_store

         bikes  pants  watches  glasses
store 3     20     30       35        4

In [22]:
store_items = store_items.append(new_store)
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN    15.0   45.0
store 2     15      5       10     50.0     2.0    7.0
store 3     20     30       35      4.0     NaN    NaN

In [24]:
#Create column from data already existing in the dataframe
store_items['new_watches'] = store_items['watches'][1:]
store_items

         bikes  pants  watches  glasses  shirts  suits  new_watches
store 1     20     30       35      NaN    15.0   45.0          NaN
store 2     15      5       10     50.0     2.0    7.0         10.0
store 3     20     30       35      4.0     NaN    NaN         35.0

In [25]:
#Inserting column in a specific place in the dataframe
#.insert(loc, label, data)
store_items.insert(5, 'shoes', [8, 5, 2])
store_items

         bikes  pants  watches  glasses  shirts  shoes  suits  new_watches
store 1     20     30       35      NaN    15.0      8   45.0          NaN
store 2     15      5       10     50.0     2.0      5    7.0         10.0
store 3     20     30       35      4.0     NaN      2    NaN         35.0

In [26]:
#Deleting using .pop and .drop
#.pop for deleting columns, .drop for deleting both rows and columns
store_items.pop('new_watches')
store_items

         bikes  pants  watches  glasses  shirts  shoes  suits
store 1     20     30       35      NaN    15.0      8   45.0
store 2     15      5       10     50.0     2.0      5    7.0
store 3     20     30       35      4.0     NaN      2    NaN

In [27]:
#.drop(, axis=1) to delete columns
#.drop(, axis=0) to delete rows
store_items = store_items.drop(['watches', 'shoes'], axis=1)

In [28]:
store_items

         bikes  pants  glasses  shirts  suits
store 1     20     30      NaN    15.0   45.0
store 2     15      5     50.0     2.0    7.0
store 3     20     30      4.0     NaN    NaN

In [29]:
store_items = store_items.drop(['store 1', 'store 2'], axis=0)
store_items

         bikes  pants  glasses  shirts  suits
store 3     20     30      4.0     NaN    NaN

In [30]:
#Change row or column label
#{old_label: new_label}
store_items = store_items.rename(columns={'bikes': 'hats'})
store_items

         hats  pants  glasses  shirts  suits
store 3    20     30      4.0     NaN    NaN

In [31]:
store_items = store_items.rename(index={'store 3': 'last store'})
store_items

            hats  pants  glasses  shirts  suits
last store    20     30      4.0     NaN    NaN

In [32]:
#Set the index to be one of the existing columns in the dataframe
#Using value of pants as index label
store_items = store_items.set_index('pants')
store_items

       hats  glasses  shirts  suits
pants
30       20      4.0     NaN    NaN

#Dealing with NaN

In [33]:
import pandas as pd

In [40]:
#We need to clean data before working on it
#We need to detect and correct errors in our data
#Bad data such as NaN (not a number)
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])

store_items

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [35]:
#To count number of NaN values in our data
#.isnull() is used to return a dataframe of boolean values, True for NaN
#True takes value of 1 in pandas
#1st .sum() returns the sum of NaNs in the each column
#2nd .sum() returns the total number of NaNs in the dataframe
x = store_items.isnull().sum().sum()
print(x)

3

In [36]:
#To count number of non-NaN values
store_items.count()

bikes      3
pants      3
watches    3
shirts     2
shoes      3
suits      2
glasses    2
dtype: int64

In [37]:
#We can either remove, or replace missing values
#To remove, use .dropna, drops data out of place
#To remove in place, add argument inplace=True
#axis=0 removes any rows with NaN values
store_items.dropna(axis=0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 2     15      5       10     2.0      5    7.0     50.0

In [38]:
#axis=1 removes any columns with NaN values
store_items.dropna(axis=1)

         bikes  pants  watches  shoes
store 1     20     30       35      8
store 2     15      5       10      5
store 3     20     30       35     10

In [39]:
#axis=1 removes any columns with NaN values in place
store_items.dropna(axis=1, inplace=True)

In [41]:
#To replace NaN values, replace out of place
store_items.fillna(0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      0.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     0.0     10    0.0      4.0

In [42]:
#To replace NaN values with a value from the previous row or column
#This is called Forward Filling
#axis=0, fill with the value from the previous column
#axis=1, fill with the value from the previous row
store_items.fillna(method='ffill', axis=0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

In [43]:
store_items.fillna(method='ffill', axis=1)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    35.0   10.0   10.0      4.0

In [44]:
#To replace NaN values with a value from the next row or column
#This is called Backward Filling
#axis=0, fill with the value from the previous column
#axis=1, fill with the value from the previous row
store_items.fillna(method='backfill', axis=0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0     50.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [45]:
store_items.fillna(method='backfill', axis=1)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0      NaN
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    10.0   10.0    4.0      4.0

In [ ]:
#To replace in place, add argument inplace=True
store_items.fillna(method='backfill', axis=1, inplace=True)

In [46]:
#Replace NaN with different interpolation methods
#Linear replaces with values along the column axis (axis=0)
store_items.interpolate(method='linear', axis=0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

In [47]:
#Linear replaces with values along the row axis (axis=1)
store_items.interpolate(method='linear', axis=1)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    22.5   10.0    7.0      4.0

##Practice

In [55]:
import pandas as pd
import numpy as np

# DO NOT CHANGE THE VARIABLE NAMES

# Set the precision of our dataframes to one decimal place.
pd.set_option('precision', 1)

# Create a Pandas DataFrame that contains the ratings some users have given to a series of books. 
# The ratings given are in the range from 1 to 5, with 5 being the best score. 
# The names of the books, the corresponding authors, and the ratings of each user are given below:

books = pd.Series(data = ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ])
authors = pd.Series(data = ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ])

# User ratings are in the order of the book titles mentioned above
# If a user has not rated all books, Pandas will automatically consider the missing values as NaN.
# If a user has mentioned `np.nan` value, then also it means that the user has not yet rated that book.
user_1 = pd.Series(data = [3.2, np.nan ,2.5])
user_2 = pd.Series(data = [5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data = [2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data = [4, 3.5, 4, 5, 4.2])


# Use the data above to create a Pandas DataFrame that has the following column
# labels: 'Author', 'Book Title', 'User 1', 'User 2', 'User 3', 'User 4'. 
# Let Pandas automatically assign numerical row indices to the DataFrame. 

# TO DO: Create a dictionary with the data given above
dat = {'Author': authors, 'Book Title': books, 'User 1': user_1,
       'User 2': user_2, 'User 3': user_3, 'User 4': user_4}

# TO DO: Create a Pandas DataFrame using the dictionary created above
book_ratings = pd.DataFrame(dat)

# TO DO:
# If you created the dictionary correctly you should have a Pandas DataFrame
# that has column labels: 
# 'Author', 'Book Title', 'User 1', 'User 2', 'User 3', 'User 4' 
# and row indices 0 through 4.

# Now replace all the NaN values in your DataFrame with the average rating in
# each column. Replace the NaN values in place. 
# HINT: Use the `pandas.DataFrame.fillna(value, inplace = True)` function for substituting the NaN values. 
# Write your code below:


book_ratings.fillna(book_ratings.mean(), inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:93: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

#Loading Data into a pandas DataFrame

In [56]:
import pandas as pd

In [58]:
#Pandas allows us to load external data to dataframes
#Load csv files
google_stock = pd.read_csv('goog-1.csv')
print(type(google_stock))
print(google_stock.shape)

<class 'pandas.core.frame.DataFrame'>
(3313, 7)

In [59]:
google_stock

            Date   Open   High    Low  Close  Adj Close    Volume
0     2004-08-19   49.7   51.7   47.7   49.8       49.8  44994500
1     2004-08-20   50.2   54.2   49.9   53.8       53.8  23005800
2     2004-08-23   55.0   56.4   54.2   54.3       54.3  18393200
3     2004-08-24   55.3   55.4   51.5   52.1       52.1  15361800
4     2004-08-25   52.1   53.7   51.6   52.7       52.7   9257400
...          ...    ...    ...    ...    ...        ...       ...
3308  2017-10-09  980.0  985.4  976.1  977.0      977.0    891400
3309  2017-10-10  980.0  981.6  966.1  972.6      972.6    968400
3310  2017-10-11  973.7  990.7  972.2  989.2      989.2   1693300
3311  2017-10-12  987.5  994.1  985.0  987.8      987.8   1262400
3312  2017-10-13  992.0  997.2  989.0  989.7      989.7   1157700

[3313 rows x 7 columns]

In [60]:
#Filter to show the top rows
#Can take an integer
google_stock.head()

         Date  Open  High   Low  Close  Adj Close    Volume
0  2004-08-19  49.7  51.7  47.7   49.8       49.8  44994500
1  2004-08-20  50.2  54.2  49.9   53.8       53.8  23005800
2  2004-08-23  55.0  56.4  54.2   54.3       54.3  18393200
3  2004-08-24  55.3  55.4  51.5   52.1       52.1  15361800
4  2004-08-25  52.1  53.7  51.6   52.7       52.7   9257400

In [61]:
#Filter to show the bottom rows
#Can take an integer
google_stock.tail()

            Date   Open   High    Low  Close  Adj Close   Volume
3308  2017-10-09  980.0  985.4  976.1  977.0      977.0   891400
3309  2017-10-10  980.0  981.6  966.1  972.6      972.6   968400
3310  2017-10-11  973.7  990.7  972.2  989.2      989.2  1693300
3311  2017-10-12  987.5  994.1  985.0  987.8      987.8  1262400
3312  2017-10-13  992.0  997.2  989.0  989.7      989.7  1157700

In [62]:
google_stock.tail(8)

            Date   Open   High    Low  Close  Adj Close   Volume
3305  2017-10-04  957.0  960.4  950.7  951.7      951.7   952400
3306  2017-10-05  955.5  970.9  955.2  970.0      970.0  1213800
3307  2017-10-06  966.7  979.5  963.4  978.9      978.9  1173900
3308  2017-10-09  980.0  985.4  976.1  977.0      977.0   891400
3309  2017-10-10  980.0  981.6  966.1  972.6      972.6   968400
3310  2017-10-11  973.7  990.7  972.2  989.2      989.2  1693300
3311  2017-10-12  987.5  994.1  985.0  987.8      987.8  1262400
3312  2017-10-13  992.0  997.2  989.0  989.7      989.7  1157700

In [63]:
google_stock.head(2)

         Date  Open  High   Low  Close  Adj Close    Volume
0  2004-08-19  49.7  51.7  47.7   49.8       49.8  44994500
1  2004-08-20  50.2  54.2  49.9   53.8       53.8  23005800

In [64]:
#To check if there is any null values in the dataset
#The result shows no missing data
google_stock.isnull().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [65]:
#It is useful to get statistical information about the dataset
#.describe shows the statistical information for all columns or certain ones
google_stock['Adj Close'].describe()

count    3313.0
mean      380.1
std       223.9
min        49.7
25%       226.4
50%       293.0
75%       536.7
max       989.7
Name: Adj Close, dtype: float64

In [66]:
#Can show one statistics for all columns or a certain column
google_stock.max()

Date         2017-10-13
Open              992.0
High              997.2
Low               989.0
Close             989.7
Adj Close         989.7
Volume         82768100
dtype: object

In [69]:
google_stock.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Open         3.8e+02
High         3.8e+02
Low          3.8e+02
Close        3.8e+02
Adj Close    3.8e+02
Volume       8.0e+06
dtype: float64

In [70]:
google_stock['Close'].min()

49.681866

In [71]:
#Important statistical measure is data correlation
google_stock.corr()

           Open  High  Low  Close  Adj Close  Volume
Open        1.0   1.0  1.0    1.0        1.0    -0.6
High        1.0   1.0  1.0    1.0        1.0    -0.6
Low         1.0   1.0  1.0    1.0        1.0    -0.6
Close       1.0   1.0  1.0    1.0        1.0    -0.6
Adj Close   1.0   1.0  1.0    1.0        1.0    -0.6
Volume     -0.6  -0.6 -0.6   -0.6       -0.6     1.0

In [73]:
#Group data to get different types of information

data = pd.read_csv('fake-company.csv')
data

   Year     Name Department  Age  Salary
0  1990    Alice         HR   25   50000
1  1990      Bob         RD   30   48000
2  1990  Charlie      Admin   45   55000
3  1991   Dakota         HR   26   52000
4  1991     Elsa         RD   31   50000
5  1991    Frank      Admin   46   60000
6  1992    Grace      Admin   27   60000
7  1992  Hoffman         RD   32   52000
8  1992    Inaar      Admin   28   62000

In [74]:
#Group by year and then add the salaries of the employees
data.groupby(['Year'])['Salary'].sum()

Year
1990    153000
1991    162000
1992    174000
Name: Salary, dtype: int64

In [75]:
#Group by year and then get average the salaries of the employees
data.groupby(['Year'])['Salary'].mean()

Year
1990    51000.0
1991    54000.0
1992    58000.0
Name: Salary, dtype: float64

In [80]:
#Get the sum of salaries of each employee in those years
data.groupby(['Name'])['Salary'].sum()

Name
Alice      50000
Bob        48000
Charlie    55000
Dakota     52000
Elsa       50000
Frank      60000
Grace      60000
Hoffman    52000
Inaar      62000
Name: Salary, dtype: int64

In [78]:
#Distrbution of salaries per department per year
data.groupby(['Year', 'Department'])['Salary'].sum()

Year  Department
1990  Admin          55000
      HR             50000
      RD             48000
1991  Admin          60000
      HR             52000
      RD             50000
1992  Admin         122000
      RD             52000
Name: Salary, dtype: int64